<!-- your html code here -->
 <div class="container px-5">
    <div class="row my-5">
        <div class="col-8">
            <div class="header-1">
                <div class="line-1">
                    <b>The First Heading </b>
                    <b class="l2 ps-2">Will Catch Your Eye</b>
                </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim nisl eget posuere cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent accumsan ultricies nunc, vel vulputate nulla tristique quis.</p>    
            </div>
        </div>
        <div class="col-4">
            <img src="./assets/img/1.jpg" width="250px" height="250px">
        </div>
    </div>
</div>
