<!-- your html code here -->
<div class="services-container" >
        <div class="services img">
            <img src="./assets/img/2.jpg" alt="keyboard">
        </div>
        <div class="services-section">
            <h1><span style="font-weight: bold;">The Second Heading Is <span style= "color: grey"> Pretty Cool Too.</span></span></h1>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ad arcu eget dignissim cras, ligula quisque. Tempus est nascetur nibh eu nulla euismod convallis. Lorem ipsum odor amet, consectetuer adipiscing elit. Ad arcu eget dignissim cras, ligula quisque.</p>
        </div>
</div>
